<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header>
    <a href="#" class="logo">MiLogo</a>
    <nav>
      <a href="{% url 'index' %}">Inicio</a>
      <a href="{% url 'comprar' %}">Comprar</a>
      <a href="{% url 'ver_carrito' %}">Carrito</a>
      <a href="{% url 'agregar_producto' %}">Agregar Producto</a>
    </nav>
  </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Mi Sitio</p>
    </footer>

</body>
</html>
