{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block title %}Resultado del Pago{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'carrito.css' %}">
{% endblock %}

{% block content %}
   <h2>Carrito de Compras</h2>
<ul>
    {% for item in carrito.items.all %}
        <li>
            {{ item.producto.nombre }} - {{ item.cantidad }} x {{ item.producto.precio|formato_clp }} = {{ item.total|formato_clp }}
        </li>
    {% endfor %}
</ul>

<p><strong>Total: {{ carrito.total|formato_clp }}</strong></p>
<p><strong>Total en USD: ${{ total_usd|floatformat:2 }}</strong>

<form method="post" action="{% url 'limpiar_carrito' %}">
    {% csrf_token %}
    <button type="submit">Vaciar carrito</button>
</form>

<a href="{% url 'iniciar_pago' %}" class="btn-verde">Proceder al pago</a>

{% endblock %}
