{% extends 'base.html' %}

{% block title %}Comprar{% endblock %}

{% block content %}
    <h2>Bienvenido a la tienda</h2>
    <form method="get">
    <input type="text" name="nombre" placeholder="Buscar producto..." value="{{ nombre }}">
    
    <select name="sucursal">
        <option value="">Todas las sucursales</option>
        {% for sucursal in sucursales %}
            <option value="{{ sucursal.id }}" {% if sucursal.id|stringformat:"s" == sucursal_id %}selected{% endif %}>
                {{ sucursal.nombre }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Filtrar</button>
</form>

     <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.nombre }}</strong><br>
                {{ producto.descripcion }}<br>
                Precio: ${{ producto.precio }}<br>
                Stock: {{ producto.stock }} unidades<br>
                Sucursal: {{ producto.sucursal }}<br>
            </li>
        {% empty %}
            <li>No hay productos disponibles.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'iniciar_pago' %}">Comprar</a>
{% endblock %}
