{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% block title %}Comprar{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'comprar.css' %}">
{% endblock %}

{% block content %}
<h2>Bienvenido a la tienda</h2>

<form method="get">
    <input type="text" name="nombre" placeholder="Buscar producto..." value="{{ nombre }}">
    <select name="sucursal">
        <option value="">Todas las sucursales</option>
        {% for sucursal in sucursales %}
            <option value="{{ sucursal.id }}" {% if sucursal.id|stringformat:"s" == sucursal_id %}selected{% endif %}>
                {{ sucursal.nombre }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Filtrar</button>
</form>

<form method="post" action="{% url 'agregar_al_carrito' 0 %}">
    {% csrf_token %}
    <ul>
        {% for producto in productos %}
            <li>
                <strong>{{ producto.nombre }}</strong><br>
                {{ producto.descripcion }}<br>
                Precio: {{ producto.precio|formato_clp }}<br>
                Stock: {{ producto.stock }} unidades<br>
                Sucursal: {{ producto.sucursal.nombre }}<br>

                Cantidad: 
                <input type="number" name="cantidad_{{ producto.id }}" value="0" min="0" max="{{ producto.stock }}">
            </li>
        {% endfor %}
    </ul>

    <button type="submit">Agregar al carrito</button>
</form>
{% endblock %}
